*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background:#0d1117;
}

.background{
    position:fixed;
    inset:0;
    background:linear-gradient(-45deg,#00d4ff,#6a00ff,#0d1117,#00aaff);
    background-size:400% 400%;
    animation:bg 10s ease infinite;
    filter:blur(60px);
}

@keyframes bg{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.card{
    position:relative;
    z-index:2;
    width:700px;
    max-width:90%;
    padding:40px;
    text-align:center;
    background:rgba(20,20,20,.75);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,.1);
    border-radius:25px;
    box-shadow:0 0 35px rgba(0,212,255,.35);
}

.logo{
    font-size:70px;
    margin-bottom:15px;
}

h1{
    color:#fff;
    margin-bottom:15px;
    font-size:40px;
}

p{
    color:#cfcfcf;
    line-height:1.6;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    padding:15px 35px;
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:bold;
    border-radius:15px;
    background:linear-gradient(90deg,#00d4ff,#0099ff);
    transition:.3s;
    box-shadow:0 0 20px rgba(0,212,255,.6);
}

.btn2{
    display:inline-block;
    margin-top: 8px;
    margin-left: 8px;
    padding:10px 35px;
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:bold;
    border-radius:15px;
    background:linear-gradient(90deg,#cc00ff,#ff0022);
    transition:.3s;
    box-shadow:0 0 20px rgba(0,212,255,.6);
}

.btn:hover{
    transform:translateY(-5px) scale(1.05);
    box-shadow:0 0 35px rgba(0,212,255,1);
}

.btn2:hover{
    transform:translateY(-5px) scale(1.05);
    box-shadow:0 0 35px rgba(0,212,255,1);
}

.info{
    margin-top:25px;
    color:#888;
    font-size:14px;
}
.Nemiroff{
    margin-top:25px;
    color:#8888886c;
    font-size:14px;
    font-family: 'Gerbera';
src: url('http://yoursite.com/gerbera/Gerbera-Bold.woff') format('woff');
}
/* Боковая панель */
.sidebar{
    position:fixed;
    left:20px;
    top:50%;
    transform:translateY(-50%);
    z-index:100;
}

.toggle{
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    background:#00d4ff;
    color:white;
    font-size:22px;
    cursor:pointer;
    transition:.3s;
    box-shadow:0 0 20px rgba(0,212,255,.6);
}

.toggle:hover{
    transform:scale(1.1);
}
.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:25px;
    position:relative;
    z-index:2;
}
.notice{
    width:420px; /* такая же ширина как у карточки */
    max-width:90%;
    height: 120px;;
    padding:18px 22px;

    display:flex;
    align-items:center;
    gap:16px;

    background:rgba(20,20,20,.75);
    backdrop-filter:blur(15px);

    border:1px solid rgba(0,212,255,.4);
    border-left:4px solid #00e676;

    border-radius:18px;

    box-shadow:0 0 20px rgba(0,212,255,.15);
    transition:.3s;
}
.notice:hover{
    transform:translateY(-5px) scale(1.05);
    box-shadow:0 0 35px rgba(0,212,255,1);
}

.notice-icon{
    width:58px;
    height:58px;
    display:flex;
    align-items:center;
    justify-content:center;

    font-size:30px;
    color:#00e676;

    border-radius:14px;
    
}

.notice-text h3{
    color:#00e676;
    font-size:28px;
    margin-bottom:6px;
}

.notice-text p{
    color:#cfd8dc;
    line-height:1.5;
    margin:0;
}

.notice-text span{
    color:#00e676;
    font-weight:bold;
}

.notice-text a{
    color:#00d4ff;
    text-decoration:none;
    font-weight:bold;
}

.notice-text a:hover{
    text-shadow:0 0 10px #00d4ff;
}
.menu{
    position:absolute;
    left:-280px;
    top:-15px;
    width:250px;
    padding:20px;
    border-radius:18px;
    background:rgba(20,20,20,.9);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,.1);
    transition:.4s;
    box-shadow:0 0 25px rgba(0,212,255,.4);
}

.menu.open{
    left:70px;
}

.menu h3{
    color:#fff;
    margin-bottom:12px;
}

.menu a{
    color:#00d4ff;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
    
    user-select:none;
    transition:0.3s;
    text-shadow:0 0 8px rgba(255,255,255,0.2);
}

.menu a:hover{
    text-shadow:0 0 12px #00d4ff;
}

.version{
    margin-top:20px;
    color:#bfbfbf;
    font-size:15px;
    cursor:default;
    text-shadow:0 0 12px #09fa29,
                 0 0 24px #bb13eed3;
}

.hidden-version{
    color:transparent;
    user-select:none;
    transition:0.3s;
    text-shadow:0 0 8px rgba(255,255,255,0.2);
}

.version:hover .hidden-version{
    color:#00d4ff;
    text-shadow:0 0 12px #00d4ff,
                 0 0 24px #00d4ff;
}

@media(max-width:500px){
    h1{
        font-size:30px;
    }

    .logo{
        font-size:55px;
    }

    .btn{
        width:100%;
    }
}